language: node_js
node_js:
- '4'
before_install:
    - "npm install -g npm@^3"
deploy:
  provider: heroku
  api_key:
    secure: RneOVwPS0PwSMJ1zpeypTkPOqkiR5qWXFFy7LJk/9dtPHDJunFl2D+zvPms2gh80pdOwOMEnZh+WjhakdsnZKqC59Wn7iOmFLZdm/3vsPwGoNjbfsDDZKCh9w3G5Yw/p0vn0YjmfOYo1kyf9uzBi8Rp7A2B6RghPtETnO9r5ojexz6sG4cXS9XnxlJFWsaNAypvE1byD/60OB4wvsElulRgfsr7GhVKv413xBsjUyAUBrKpw6l203HSQqApsLmF7HXUrN9CiNvrl1nN3fBDixQD1WRjEgOKg6XNa0I/afwv79lA6qKCruNGcarh/rnovnwlE0ua3ucLgXA9HpacX7g0lRYF43wCTmdoUJB7P/BhzJVrMHMFVB2ogrc/NKFQYxKK2LfSQ8zZbocttlRpkKSz/2N6Jn9UAhNp9AfM0QY8He5OO+4reB0V6KVHRzj2KjvQeLFax+wMMja0ydgUKIDb/1qOKq1OhNxUfThOBjz2Ghk/4o5TEVubt1n+4A6GXL54LlW7I3BlNInaJDOhsW5QDhK9oG7H5gkekmcOLwksWgGPCKS70/3TEuzfT9D3s50tGf23a2qG9aNt4JBmpIJNlsH/u3WzcWiR2p46w45XY2fJKM0+VTvbhZSo/Pygo6TM7mBksqLE97PlzGKVvRNQCCYjmXTrf1kUZTj2GQ5k=
  app:
    master: porcellus
    #stage: porcellus-stg
    #development: porcellus-dev
  on:
    repo: ir-taimal10/porcellus
