<div class="app-home">
  home works!
  <h2 class="porcellus-title animated">Johnny working!</h2>
  <h1>aqui puedes adicionar los demas componentes</h1>

  <div class="myslides">
    <ks-swiper-container [options]="example1SwipeOptions">
      <ks-swiper-slide>
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </ks-swiper-slide>
    </ks-swiper-container>
    <button (click)="movePrev()">Prev</button>
    <button (click)="moveNext()">Next</button>
  </div>

</div>
