<div class="app-home">
  home works!
   <h2 class="porcellus-title animated">Johnny working!</h2>
   <h1>aui puedes adicionar los demas componentes</h1>

  <div class="myslides">
    <ks-swiper-container [options]="example1SwipeOptions">
      <ks-swiper-slide *ngFor="let s of [1,2]">
        <img src="http://api.randomuser.me/portraits/thumb/men/{{s}}.jpg">
      </ks-swiper-slide>
    </ks-swiper-container>
    <button (click)="movePrev()">Prev</button>
    <button (click)="moveNext()">Next</button>
  </div>

</div>
